:root {
    --uiatl: url("/resources/ui.png");
    --atl-w: 640px;
    --atl-h: 480px;
}

body {
    background-color: black;

    font-family: sans-serif;
    color: white;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    cursor: url("/resources/cur_0.png") 0 0, auto;
}

.formware.os-root {
    /* Sizing */
    width: 100%;
    height: 100%;

    /* Desktop Wallpaper */
    background-image: url("/resources/defaultwallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formware.pointer-arrow {
    cursor: url("/resources/cur_0.png") 0 0, auto;
}

.formware.pointer-arrow-load {
    cursor: url("/resources/cur_1.png") 0 0, auto;
}

.formware.pointer-load {
    cursor: url("/resources/cur_2.png") 0 0, auto;
}

.formware.pointer-hand {
    cursor: url("/resources/cur_3.png") 0 0, auto;
}

.fw-window {
    position: absolute;

    border: 24px solid transparent;
    border-image-source: url("/resources/window_border.png");
    border-image-slice: 24;
    border-image-width: 24px;
    border-image-repeat: stretch;

    background-color: wheat;
}

.fw-window .fw-title {
    position: absolute;
    left: -16px;
    top: -20px;
    font-size: 18px;
}

.fw-window .fw-group {
    position: absolute;
    right: -20px;
    top: -19px;
    display: flex;
    flex-direction: row-reverse;
    gap: 1px;
}

.fw-wndbtn {
    width: 18px;
    height: 18px;
    background-image: var(--uiatl);
}

.fw-wndbtn.fw-closebtn { background-position-y: 0px; }
.fw-wndbtn.fw-maximizebtn { background-position-y: -18px; }
.fw-wndbtn.fw-minimizebtn { background-position-y: -36px; }

.fw-wndbtn:active { background-position-x: -18px; }
.fw-wndbtn:disabled { background-position-x: -36px; }