:root {
    --uiatl: url("/resources/ui.png");
    --atl-w: 640px;
    --atl-h: 480px;
}

body {
    background-color: black;

    font-family: sans-serif;
    color: white;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    cursor: url("/resources/cursors/arrow.png") 0 0, auto;
    user-select: none;
}

.fw-selectable-text {
    user-select: text !important;
}

.fw-selectable {
    user-select: all !important;
}

.fw-os-root {
    /* Sizing */
    width: 100%;
    height: 100%;

    /* Desktop Wallpaper */
    background-image: url("/resources/defaultwallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fw-cursor-arrow {
    cursor: url("/resources/cursors/arrow.png") 0 0, auto;
}

.fw-cursor-arrow-load {
    cursor: url("/resources/cursors/arrow_load.png") 0 0, progress;
}

.fw-cursor-load {
    cursor: url("/resources/cursors/load.png") 0 0, wait;
}

.fw-cursor-pointer {
    cursor: url("/resources/cursors/pointer.png") 4 0, pointer;
}

.fw-cursor-beam {
    cursor: url("/resources/cursors/beam.png") 3 9, text;
}

.fw-window {
    position: absolute;

    border: 4px solid transparent;
    border-image-source: url("/resources/window_border_thin.png");
    border-image-slice: 4;
    border-image-width: 4px;
    border-image-repeat: stretch;

    background-color: wheat;
}

.fw-window .fw-titlebar {
    height: 24px;
    width: 100%;

    background-image: url("/resources/window_titlebar.png");
    border-image-repeat: stretch;
}

.fw-window .fw-titlebar .fw-title {
    position: absolute;
    left: 1px;
    top: 0px;
    font-size: 18px;
}

.fw-window .fw-titlebar .fw-group {
    position: absolute;
    right: 1px;
    top: 1px;
    display: flex;
    flex-direction: row-reverse;
    gap: 1px;
}

.fw-wndbtn {
    width: 18px;
    height: 18px;
    background-image: var(--uiatl);
}

.fw-wndbtn.fw-closebtn { background-position-y: 0px; }
.fw-wndbtn.fw-maximizebtn { background-position-y: -18px; }
.fw-wndbtn.fw-minimizebtn { background-position-y: -36px; }

.fw-wndbtn:active { background-position-x: -18px; }
.fw-wndbtn:disabled { background-position-x: -36px; }